#body1{
  width: 600px;
  height: 200px;
  display: inline-block;
}

#body2{
  width: 600px;
  height: 200px;
  display: inline-block;
}

#btn{
  margin-left: 25%;
  margin-top: 100px;
}

#body{
  margin: 10px;
}
